.secondContainer{
    display: flex;
    margin: 0px -10px;
    /* background-color: whitesmoke; */
    background-color: hsl(240, 62%, 16%);
    padding: 0px 30px;
    height: 200px;
    border: 2px solid black;
    margin-bottom: -250px;
}
.firstContainer{
    background-color: whitesmoke;
    padding-top: -50px;
    margin: -10px;
    height: 70px;
    display: flex;
    /* margin-bottom: 20px;    */
}
.main_icons{
    margin-right: -2px;
    border: 0px ;
}
.icons{
    border: 0px;
    margin-inline: -2px;

}

.secondContainerElements{
    margin-inline: 5px;
    color: rgba(245, 245, 245, 0.292);

    /* position: absolute; left: 50%; */
}
.thirdContainer{
    display: flex;
    margin: 100px;
}

.fourthContainer{
    background-color: whitesmoke;
    padding: 10px 30px ;
    width: 800px;
    margin-right: 40px;
}
.fifthContainer{
    background-color: whitesmoke;
    width: 250px;
    padding: 10px 30px;
}