.hidden{
    display: none;
}

/* .flight_details2{
    display: flex;
} */

.logo_1{
    height: 50px;
    width: 50px;
}
.logo_2{
    height: 50px;
    width: 50px;
}
.logo_3{
    height: 50px;
    width: 50px;
}