.hidden{
    display: none;
}

/* .flight_details2{
    display: flex;
} */

.logo_1{
    height: 50px;
    width: 50px;
}
.logo_2{
    height: 50px;
    width: 50px;
}
.logo_3{
    height: 50px;
    width: 50px;
}

.secondContainer {
    display: flex;
    margin: 0px -10px;
    /* background-color: whitesmoke; */
    background-image: var(--color-btn-primary-bg, linear-gradient(180deg, #080f15, #08255a));
    padding: 0px 30px;
    height: 200px;
    border: 2px solid black;
    margin-bottom: -200px;
}

.firstContainer {
    background-color: white;
    padding-top: -50px;
    margin: -10px;
    height: 120px;
    display: flex;
    margin-bottom: 20px;   
}

.main_icons {
    background-color: transparent;
    margin-right: 2px;
    border: 0px;
}

.icons {
    filter: grayscale(1);
    background-color: transparent;
    border: 0px;
    margin-inline: 1px;
}

.secondContainerElements {
    margin-inline: 5px;
    color: rgb(245, 245, 245, 0.292);

    /* position: absolute; left: 50%; */
}

.thirdContainer {
    display: flex;
    margin: 100px;
}

.fourthContainer {
    background-color: whitesmoke;
    padding: 10px 30px;
    width: 800px;
    margin-right: 40px;
}

.fifthContainer {
    background-color: whitesmoke;
    width: 250px;
    height: fit-content;
    padding: 10px 30px;
}